*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: montserrat;
    background-color: #ff533d;
}

nav {
    background: #0f1626;
    height: 80px;
    width: 100%;
}


label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 30px;
    font-weight: bold;
    font-family: 'IBM Plex Sans', sans-serif;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
}

a {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: bold;
    font-size: 1.6rem;
    
}

a.active,a:hover {
    background: #0f1626;
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 952px){
    label.logo {
        font-size: 30px;
        padding-left:30px;
    }

    nav ul li a {
        font-size: 16px;

    }
}

@media (max-width: 858px){
    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    a:hover, a.active {
        background: none;
        color: #0082e6;
    }

    #check:checked ~ ul{
        left: 0;
    }
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #353535;
    font-size: 3rem;
    color: #fff;
    box-shadow: rgba(3,8,20,0.1) 0px 0.15rem 0.5 rem, rgba(2,8,20,0.1) 0px 0.075rem 0.0175rem;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    transition: all 500ms;
    overflow: hidden;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card:hover {
    box-shadow: rgba(2,8,20,0.1) 0px 0.35em 1.175em, rgba(2,8,20,0.08) 0px 0.175em 0.5em;
    transform: translate(-3px) scale(1.1);

}

.photo-grid {
    display: grid;
    gap: 1rem;
    grid-auto-rows: 240px;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr))
}

@media screen and (min-width: 600px){
    .card-tall {
        grid-row: span 2 / auto;
    }

    .card-wide {
        grid-column: span 2 / auto;
    }

    .card-wide2 {
        grid-column: span 3 / auto;
    }
}

a {
    text-decoration: none;
    color: white;
}

